<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="big-box">
            <div class="message-box">
                <div class="sender-message">Hello, snt tametalgnaleh?</div>
              </div>
              <div class="message-box">
                <div class="receiver-message">600birr</div>
              </div>
              <div class="message-box">
                <div class="sender-message">400 ymechal?</div>
                <div class="message-box">
                    <div class="sender-message">Hello, snt tametalgnaleh?</div>
                  </div>
                  <div class="message-box">
                    <div class="receiver-message">600birr</div>
                  </div>
                  <div class="message-box">
                    <div class="sender-message">400 ymechal?</div>
                    <div class="message-box">
                        <div class="sender-message">Hello, snt tametalgnaleh?</div>
                      </div>
                      <div class="message-box">
                        <div class="receiver-message">600birr</div>
                      </div>
                      <div class="message-box">
                        <div class="sender-message">400 ymechal?</div>
                        

              <div class="compose-box">
                <form method="post" >
                   <input type="text" placeholder="Type your message here...">
            </form>
                <button>Send</button>
              </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>

<!-- <div class="chat-box">
    <div class="message-box">
      <div class="sender-message">Hello, how are you?</div>
    </div>
    <div class="message-box">
      <div class="receiver-message">I'm doing well, thanks for asking!</div>
    </div>
    <div class="message-box">
      <div class="sender-message">That's great to hear!</div>
    </div>
  </div> -->