<!DOCTYPE html>
<html>
  <head>
    <title>My Ecommerce Website</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="index.ejs">Buyer</a></li>
          <li><a href="seller.ejs">Seller</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="search">
          <input type="text" placeholder="Search...">
          <button>Search</button>
        </div>

      </nav>
    </header>
    <main>
      <section class="featured-products">
        <h2>Featured Products</h2>
        <div class="product-product">
                <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
      
    </div>
 <div class="product">
          <img src="mar.png" >
          <h3>mar</h3>
          <p>400birr/killo</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="bre.png" >
          <h3>bere</h3>
          <p>75,000birr</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="mar.png" >
          <h3>Product 3</h3>
          <p>$39.99</p>
          <button>I wanna buy</button>
        </div>
      
                <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
            <div class="product">
          <img src="bre.png" >
          <h3>Product 1</h3>
          <p>$19.99</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="mar.png" >
          <h3>Product 2</h3>
          <p>$29.99</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="bre.png" >
          <h3>Product 3</h3>
          <p>$39.99</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="bre.png" >
          <h3>Product 4</h3>
          <p>$49.99</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="bre.png" >
          <h3>Product 5</h3>
          <p>$59.99</p>
          <button>I wanna buy</button>
        </div>
                        <div class="product-product">
        <div class="product-provider">
          <a href = "chat.html"><img src="person.png"></a>
          <p>Lorem ipsum, dolo mollitia nihil obcaecati praesentium est facilis dolores!</p>
      </div>
      <div class = "provider-name"><h2>NameOF shach</h2></div>
        </div>
    </div>
        <div class="product">
          <img src="mar.png" >
          <h3>Product 6</h3>
          <p>$69.99</p>
          <button>I wanna buy</button>
        </div>
      </section>

      <h1> <%= discription %> </h1>
    </main>
    <footer>
      <p>&copy; Tadi-San</p>
    </footer>
    <script src="script.js"></script>
  </body>
</html>